[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
alembic = "*"
flask-migrate = "*"
flask-cors = "*"
psycopg2-binary = "*"
awscli = "*"
boto3 = "*"
pyjwt = "*"
flask-login = "*"

[requires]
python_version = "3.8"
